appdirs==1.4.3
asgiref==3.2.7
async-generator==1.10
attrs==19.3.0
Automat==20.2.0
autopep8==1.5
backcall==0.1.0
beautifulsoup4==4.8.2
bitfinex-tencars==0.0.3
bleach==3.1.4
cachetools==4.1.0
certifi==2019.6.16
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
colorlover==0.3.0
constantly==15.1.0
cryptography==2.9
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.5
django-appconf==1.0.4
django-filter==2.2.0
django-filters==0.2.1
django-googledrive-storage==1.4.0
django-storages==1.9.1
docker-py==1.10.6
docker-pycreds==0.4.0
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
get==2019.4.13
google-api-core==1.17.0
google-api-python-client==1.8.2
google-auth==1.14.1
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
gunicorn==20.0.4
httplib2==0.17.3
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.6.0
incremental==17.5.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==0.1.1
jupyterlab==2.0.1
jupyterlab-pygments==0.1.0
jupyterlab-server==1.0.7
jupyterthemes==0.20.0
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
kiwisolver==1.1.0
lesscpy==0.14.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.5
notebook==6.0.3
numpy==1.18.2
oauth2client==4.1.3
openpyxl==3.0.3
pandas==0.25.0
pandoc==1.0.2
pandocfilters==1.4.2
parsel==1.5.2
parso==0.6.2
pathspec==0.8.0
patsy==0.5.1
pickleshare==0.7.5
pip-autoremove==0.9.1
plotly==4.5.4
plotly-express==0.4.1
ply==3.11
post==2019.4.13
prometheus-client==0.7.1
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.11.3
psycopg2==2.8.5
public==2019.4.13
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyflakes==2.1.1
Pygments==2.4.2
PyHamcrest==2.0.2
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypiwin32==223
PyQt5==5.13.0
PyQt5-sip==4.19.18
pyrsistent==0.16.0
pyspark==2.4.5
python-dateutil==2.8.0
pytz==2019.1
pywin32==224
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.0
qgrid==1.3.0
qtconsole==4.7.2
QtPy==1.9.0
query-string==2019.4.13
queuelib==1.5.0
request==2019.4.13
requests==2.22.0
retrying==1.3.3
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
scrapinghub==2.3.1
Scrapy==2.0.1
seaborn==0.10.0
Send2Trash==1.5.0
service-identity==18.1.0
shub==2.10.0
six==1.12.0
soupsieve==2.0
sqlparse==0.3.1
statsmodels==0.11.1
tabulate==0.8.3
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
Twisted==20.3.0
uritemplate==3.0.1
urllib3==1.25.3
virtualenv==20.0.17
voila==0.1.21
w3lib==1.21.0
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
whitenoise==5.0.1
widgetsnbextension==3.5.1
xlrd==1.2.0
yamllint==1.23.0
yapf==0.29.0
zipp==3.1.0
zope.interface==5.0.2
